<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" %>
<%= stylesheet_link_tag "login" %>

<canvas id="myCanvas">
</canvas>

  <div class="form">
    <h1> RBC </h1>
    <h2> DIMENSION </h2>

    <ul class="tab-group">
      <li class="tab active"><a href="#signup">Sign Up</a></li>
      <li class="tab"><a href="#login">Log In</a></li>
    </ul>

      <div class="tab-content">
        <div id="signup">
          <%= form_for User.new, url: {controller: "users", action: "create"} do |f| %>
            <div class="top-row">
              <div class="field-wrap">
                <%= f.label :fname, "First Name", class: "req" %>*
                <%= f.text_field :fname %>
              </div>
              <div class="field-wrap">
                <%= f.label :lname, "Last Name", class: "req" %>*
                <%= f.text_field :lname %>
              </div>
            </div>
            <div class="field-wrap">
              <%= f.label :email, "Email Address", class: "req" %>*
              <%= f.text_field :email %>
            </div>
            <div class="field-wrap">
              <%= f.label :password, "Set A Password", class: "req" %>*
              <%= f.password_field :password %>
            </div>
            <%= f.submit "Get Started", class: "button button-blocky" %>
          <% end %>
        </div>

        <div id="login">
          <%= form_for User.new, url: {controller: "users", action: "validate_login"} do |f| %>
            <div class="field-wrap">
              <%= f.label :email, "Email Address", class: "req" %>*
              <%= f.email_field :email %>
            </div>
            <div class="field-wrap">
              <%= f.label :password, "Password", class: "req" %>*
              <%= f.password_field :password %>
            </div>
            <%= f.submit "Login", class: "button button-block" %>
          <% end %>

        </div>

      </div><!-- tab-content -->

</div>

<script type="text/javascript" src="frontend/js/login.js"></script>
