<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" %>
<style>
*, *:before, *:after {
  box-sizing: border-box;
}

canvas {display: block; height: 100vh; position:absolute; z-index: -1;}

html {
  height: 100vh;
  background: blue;
  background-image: linear-gradient(top, rgb(69,132,180) 8%, rgb(31,71,120) 84%);
		background-image: -o-linear-gradient(top, rgb(69,132,180) 8%, rgb(31,71,120) 84%);
		background-image: -moz-linear-gradient(top, rgb(69,132,180) 8%, rgb(31,71,120) 84%);
		background-image: -webkit-linear-gradient(top, rgb(69,132,180) 8%, rgb(31,71,120) 84%);
		background-image: -ms-linear-gradient(top, rgb(69,132,180) 8%, rgb(31,71,120) 84%);
		background-image: -webkit-gradient(linear,left top,left bottom,	color-stop(0.08, rgba(98, 187, 255, 0.5)),color-stop(0.84, rgb(5, 33, 120)));}

/*html {
  height:100%;
  background: linear-gradient(to left top, rgba(0, 0, 0, 0.7), rgba(7, 35, 114, 0.6)) fixed, url('../RBC.jpg');
  background-repeat:no-repeat;
  background-size:cover;} */

  body {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: none;
}


a {
  text-decoration: none;
  color: #1a53c0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #2c538f;
}

.form {
  background: rgba(10, 19, 26, 0.78);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  z-index:2;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #2c538f;
  color: #ffffff;
}
.tab-group .active a {
  background: #1a53c0;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 50px;
  margin: 0 0 10px;
}

h2 {
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 40px;
  margin: 0 0 20px;
}

label {
  position: static;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1a53c0;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1a53c0;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1a53c0;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #2c538f;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
</style>

<canvas id="myCanvas">
</canvas>

  <div class="form">
    <h1> RBC </h1>
    <h2> DIMENSION </h2>

    <ul class="tab-group">
      <li class="tab active"><a href="#signup">Sign Up</a></li>
      <li class="tab"><a href="#login">Log In</a></li>
    </ul>

      <div class="tab-content">
        <div id="signup">
          <%= form_for User.new, url: {controller: "users", action: "create"} do |f| %>
            <div class="top-row">
              <div class="field-wrap">
                <%= f.label :fname, "First Name", class: "req" %>*
                <%= f.text_field :fname %>
              </div>
              <div class="field-wrap">
                <%= f.label :lname, "Last Name", class: "req" %>*
                <%= f.text_field :lname %>
              </div>
            </div>
            <div class="field-wrap">
              <%= f.label :email, "Email Address", class: "req" %>*
              <%= f.text_field :email %>
            </div>
            <div class="field-wrap">
              <%= f.label :password, "Set A Password", class: "req" %>*
              <%= f.password_field :password %>
            </div>
            <%= f.submit "Get Started", class: "button button-blocky" %>
          <% end %>
        </div>

        <div id="login">
          <%= form_for User.new, url: {controller: "users", action: "validate_login"} do |f| %>
            <div class="field-wrap">
              <%= f.label :email, "Email Address", class: "req" %>*
              <%= f.email_field :email %>
            </div>
            <div class="field-wrap">
              <%= f.label :password, "Password", class: "req" %>*
              <%= f.password_field :password %>
            </div>
            <%= f.submit "Login", class: "button button-block" %>
          <% end %>

        </div>

      </div><!-- tab-content -->

</div>

<script type="text/javascript" src="../frontend/js/login.js"></script>
